In [1]:
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.5

In [2]:
#Instalando as bibliotecas que usaremos nesse trabalho
import pandas as pd
import numpy as np

In [3]:
print(pd.__version__)

1.5.3

In [4]:
print(np.__version__)

1.23.5

In [5]:
caminho_arquivo = "C:\Python\casos-confirmados-de-doencas-de-notificacao-compulsoria.xlsx"

In [6]:
dados = pd.read_excel(caminho_arquivo)

In [7]:
print(dados.sample(6))

       geocodigo          município  \
8417     2705002        Mata Grande
16568    2704104     Lagoa da Canoa
5828     2701407       Campo Alegre
15560    2705309  Minador do Negrão
11873    2703809      Joaquim Gomes
10404    2700102        Água Branca

                         doençasdenotificaçãocompulsória   ano  \
8417   Casos confirmados de doenças de notificação co...  2016
16568  Casos confirmados de doenças de notificação co...  2019
5828   Casos confirmados de doenças de notificação co...  2015
15560  Casos confirmados de doenças de notificação co...  2020
11873  Casos confirmados de doenças de notificação co...  2018
10404  Casos confirmados de doenças de notificação co...  2017

       Quantidadesdedoençasnotificados                                   fonte
8417                                0.0  Secretária de Estado da Saúde - SESAU
16568                               0.0  Secretária de Estado da Saúde - SESAU
5828                                0.0  Secretária de Estado da Saúde - SESAU
15560                               1.0  Secretária de Estado da Saúde - SESAU
11873                               0.0  Secretária de Estado da Saúde - SESAU
10404                               0.0  Secretária de Estado da Saúde - SESAU

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19074 entries, 0 to 19073
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   geocodigo                         19074 non-null  int64
 1   município                         19074 non-null  object
 2    doençasdenotificaçãocompulsória  19074 non-null  object
 3   ano                               19074 non-null  int64
 4   Quantidadesdedoençasnotificados   18972 non-null  float64
 5   fonte                             19074 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 894.2+ KB

In [9]:
print(dados.columns)

Index(['geocodigo', 'município', ' doençasdenotificaçãocompulsória', 'ano',
       'Quantidadesdedoençasnotificados ', 'fonte'],
      dtype='object')

In [10]:
type(dados)

pandas.core.frame.DataFrame

In [11]:
dados.head(11)

,geocodigo,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados,fonte
0,2700102,Água Branca,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
1,2700201,Anadia,Casos confirmados de doenças de notificação co...,2013,1.0,Secretária de Estado da Saúde - SESAU
2,2700300,Arapiraca,Casos confirmados de doenças de notificação co...,2013,17.0,Secretária de Estado da Saúde - SESAU
3,2700409,Atalaia,Casos confirmados de doenças de notificação co...,2013,1.0,Secretária de Estado da Saúde - SESAU
4,2700508,Barra de Santo Antônio,Casos confirmados de doenças de notificação co...,2013,3.0,Secretária de Estado da Saúde - SESAU
5,2700607,Barra de São Miguel,Casos confirmados de doenças de notificação co...,2013,1.0,Secretária de Estado da Saúde - SESAU
6,2700706,Batalha,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
7,2700805,Belém,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
8,2700904,Belo Monte,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
9,2701001,Boca da Mata,Casos confirmados de doenças de notificação co...,2013,2.0,Secretária de Estado da Saúde - SESAU
10,2701100,Branquinha,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU

In [12]:
dados.describe()

          geocodigo           ano  Quantidadesdedoençasnotificados
count  1.907400e+04  19074.000000                      18972.000000
mean   2.704783e+06   2016.705882                          7.543327
std    2.725463e+03      2.318118                        113.223029
min    2.700102e+06   2013.000000                          0.000000
25%    2.702405e+06   2015.000000                          0.000000
50%    2.704758e+06   2017.000000                          0.000000
75%    2.707107e+06   2019.000000                          1.000000
max    2.709400e+06   2020.000000                       7642.000000

In [13]:
dados.shape

(19074, 6)

In [14]:
#Começaremos o trabalho de limpeza dos dados, 
#primeiro começaremos convertendo a coluna ano de inteira para o tipo data


dados['ano'] = dados['ano'].astype(int)

# Verificando o tipo das colunas após a conversão
print(dados.dtypes)

geocodigo                             int64
município                            object
 doençasdenotificaçãocompulsória     object
ano                                   int32
Quantidadesdedoençasnotificados     float64
fonte                                object
dtype: object

In [15]:
dados.head(11)

,geocodigo,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados,fonte
0,2700102,Água Branca,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
1,2700201,Anadia,Casos confirmados de doenças de notificação co...,2013,1.0,Secretária de Estado da Saúde - SESAU
2,2700300,Arapiraca,Casos confirmados de doenças de notificação co...,2013,17.0,Secretária de Estado da Saúde - SESAU
3,2700409,Atalaia,Casos confirmados de doenças de notificação co...,2013,1.0,Secretária de Estado da Saúde - SESAU
4,2700508,Barra de Santo Antônio,Casos confirmados de doenças de notificação co...,2013,3.0,Secretária de Estado da Saúde - SESAU
5,2700607,Barra de São Miguel,Casos confirmados de doenças de notificação co...,2013,1.0,Secretária de Estado da Saúde - SESAU
6,2700706,Batalha,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
7,2700805,Belém,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
8,2700904,Belo Monte,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU
9,2701001,Boca da Mata,Casos confirmados de doenças de notificação co...,2013,2.0,Secretária de Estado da Saúde - SESAU
10,2701100,Branquinha,Casos confirmados de doenças de notificação co...,2013,0.0,Secretária de Estado da Saúde - SESAU

In [16]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19074 entries, 0 to 19073
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   geocodigo                         19074 non-null  int64
 1   município                         19074 non-null  object
 2    doençasdenotificaçãocompulsória  19074 non-null  object
 3   ano                               19074 non-null  int32
 4   Quantidadesdedoençasnotificados   18972 non-null  float64
 5   fonte                             19074 non-null  object
dtypes: float64(1), int32(1), int64(1), object(3)
memory usage: 819.7+ KB

In [17]:
#Selecionarei as colunas com as quais iremos trabalhar

colunas_desejadas = ['município', ' doençasdenotificaçãocompulsória', 'ano','Quantidadesdedoençasnotificados ']

dados = dados[colunas_desejadas]

dados.head()

,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados
0,Água Branca,Casos confirmados de doenças de notificação co...,2013,0.0
1,Anadia,Casos confirmados de doenças de notificação co...,2013,1.0
2,Arapiraca,Casos confirmados de doenças de notificação co...,2013,17.0
3,Atalaia,Casos confirmados de doenças de notificação co...,2013,1.0
4,Barra de Santo Antônio,Casos confirmados de doenças de notificação co...,2013,3.0

In [20]:
#Agora excluiria as linhas de dados que com erro 

linhas_com_zero = dados[dados.eq(0).any(axis=1)]
dados_sem_zero = dados.drop(index=linhas_com_zero.index)

In [21]:
print(dados_sem_zero)

                    município  \
1                      Anadia
2                   Arapiraca
3                     Atalaia
4      Barra de Santo Antônio
5         Barra de São Miguel
...                       ...
18844                Piranhas
18853      Santana do Ipanema
18857      São José da Tapera
18872               Arapiraca
18916                  Maceió

                         doençasdenotificaçãocompulsória   ano  \
1      Casos confirmados de doenças de notificação co...  2013
2      Casos confirmados de doenças de notificação co...  2013
3      Casos confirmados de doenças de notificação co...  2013
4      Casos confirmados de doenças de notificação co...  2013
5      Casos confirmados de doenças de notificação co...  2013
...                                                  ...   ...
18844  Casos confirmados de doenças de notificação co...  2019
18853  Casos confirmados de doenças de notificação co...  2019
18857  Casos confirmados de doenças de notificação co...  2019
18872  Casos confirmados de doenças de notificação co...  2019
18916  Casos confirmados de doenças de notificação co...  2019

       Quantidadesdedoençasnotificados
1                                   1.0
2                                  17.0
3                                   1.0
4                                   3.0
5                                   1.0
...                                 ...
18844                               1.0
18853                               6.0
18857                               1.0
18872                               1.0
18916                               1.0

[5544 rows x 4 columns]

In [22]:
dados.head()

,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados
0,Água Branca,Casos confirmados de doenças de notificação co...,2013,0.0
1,Anadia,Casos confirmados de doenças de notificação co...,2013,1.0
2,Arapiraca,Casos confirmados de doenças de notificação co...,2013,17.0
3,Atalaia,Casos confirmados de doenças de notificação co...,2013,1.0
4,Barra de Santo Antônio,Casos confirmados de doenças de notificação co...,2013,3.0

In [24]:
dados.isna()

,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados
0,False,False,False,False
1,False,False,False,False
2,False,False,False,False
3,False,False,False,False
4,False,False,False,False
...,...,...,...,...
19069,False,False,False,False
19070,False,False,False,False
19071,False,False,False,False
19072,False,False,False,False
19073,False,False,False,False

In [34]:
#vamos nos livrar desses erros de municipio

linhas_com_false = dados[dados.apply(lambda row: not all(row), axis=1)]

In [35]:
dados_sem_false = dados.drop(index=linhas_com_false.index)

print(dados_sem_false)

                    município  \
1                      Anadia
2                   Arapiraca
3                     Atalaia
4      Barra de Santo Antônio
5         Barra de São Miguel
...                       ...
18844                Piranhas
18853      Santana do Ipanema
18857      São José da Tapera
18872               Arapiraca
18916                  Maceió

                         doençasdenotificaçãocompulsória   ano  \
1      Casos confirmados de doenças de notificação co...  2013
2      Casos confirmados de doenças de notificação co...  2013
3      Casos confirmados de doenças de notificação co...  2013
4      Casos confirmados de doenças de notificação co...  2013
5      Casos confirmados de doenças de notificação co...  2013
...                                                  ...   ...
18844  Casos confirmados de doenças de notificação co...  2019
18853  Casos confirmados de doenças de notificação co...  2019
18857  Casos confirmados de doenças de notificação co...  2019
18872  Casos confirmados de doenças de notificação co...  2019
18916  Casos confirmados de doenças de notificação co...  2019

       Quantidadesdedoençasnotificados
1                                   1.0
2                                  17.0
3                                   1.0
4                                   3.0
5                                   1.0
...                                 ...
18844                               1.0
18853                               6.0
18857                               1.0
18872                               1.0
18916                               1.0

[5544 rows x 4 columns]

In [42]:
dados_sem_false.head()

,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados
1,Anadia,Casos confirmados de doenças de notificação co...,2013,1.0
2,Arapiraca,Casos confirmados de doenças de notificação co...,2013,17.0
3,Atalaia,Casos confirmados de doenças de notificação co...,2013,1.0
4,Barra de Santo Antônio,Casos confirmados de doenças de notificação co...,2013,3.0
5,Barra de São Miguel,Casos confirmados de doenças de notificação co...,2013,1.0

In [40]:
dados_sem_false.tail()

,município,doençasdenotificaçãocompulsória,ano,Quantidadesdedoençasnotificados
18844,Piranhas,Casos confirmados de doenças de notificação co...,2019,1.0
18853,Santana do Ipanema,Casos confirmados de doenças de notificação co...,2019,6.0
18857,São José da Tapera,Casos confirmados de doenças de notificação co...,2019,1.0
18872,Arapiraca,Casos confirmados de doenças de notificação co...,2019,1.0
18916,Maceió,Casos confirmados de doenças de notificação co...,2019,1.0

In [46]:
#Dados limpos